body {
  font-family: monospace;
}

table {
  border-spacing: 16px 4px;
}

form {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 8px;

  label {
    text-align: right;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  button {
    grid-column: 1 / -1;
  }
}

th,
tr {
  text-align: right;
}

tbody {
  tr[data-applicable="false"] {
    opacity: 0.5;
  }
}
